<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCALfIF-11oxf35Wp4x3JmNnycodbeUgE4</string>
	<key>GCM_SENDER_ID</key>
	<string>442572926909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itg.onleorganic</string>
	<key>PROJECT_ID</key>
	<string>appbuilderprivate</string>
	<key>STORAGE_BUCKET</key>
	<string>appbuilderprivate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442572926909:ios:dc294e4c5be0e328ceecd4</string>
</dict>
</plist>